<div id="declutter">
    <h2 style="text-align: center;">斷捨離的小祕訣</h2>
    <div class="tip">
        <h3 >斷捨離的小祕訣</h3>
        <ul>
            <li><strong>PART1：</strong>首先先丟棄損壞、殘破的物品。</li>
            <li><strong>PART2：</strong>篩選出「必須品」，捨去半年內都不會使用的「需求品」。</li>
            <li><strong>PART3：</strong>放下對於「紀念品」的執念。</li>
            <li><strong>PART4：</strong>減少多餘「同功能」的物件。</li>
            <li><strong>PART5：</strong>從新的環境生活戒掉物品囤積帶來的安全感。</li>
        </ul>
    </div>
    <div class="tip">
        <h3>搬遷物品收納包裝的小技巧</h3>
        <ul>
            <li>封紙箱的膠帶最好使用透明膠帶，其黏著力較強。</li>
            <li>傢俱抽屜及隔板使用木紋膠帶固定，膠帶不易殘膠傷害物品。</li>
            <li>偏重的、不怕重壓的置於箱內底部，輕的、怕擠壓的放上面。如全放重物的紙箱，底部要確實封牢。</li>
            <li>季節性物品(如冬衣、棉被)可先行打包，並儘量用棉被袋或大型塑膠袋收納，以便利用空間或作為防護區隔。</li>
            <li>冰箱內食品需清空。冷凍食品可用保利龍箱保溫保存，並在搬家當天拔除插頭即可。</li>
            <li>紙箱打包一定要註明箱號及新居時要擺放的位置，以利清點及定位。</li>
            <li>易碎品裝箱需用包裝紙或氣泡布做緩衝包材，如有空隙需以碎布、報紙、氣泡布填緊，防止晃動，並在紙箱上註明“易碎物品”讓搬家作業人員可以注意搬運。</li>
            <li>如有自行拆卸的傢俱零組件，需注意零組件收納，避免日後找不到導致組裝困難。</li>
            <li>衣櫃、桌子、櫥櫃需將抽屜內部清空以利搬運。</li>
            <li>貴重物品最好自行攜帶至新居。</li>
        </ul>
    </div>
    <div class="tip">
        <h3>物品包裝收納的原則</h3>
        <ul>
            <li>零散物品一定要裝箱。以同一區域或同一櫃子的物品為同一單位裝箱打包， 並編註新居定位的位置。</li>
            <li>衣服、被子、書籍等，可按使用的頻率、季節及其重要性，再分類打包。</li>
            <li>已拆封的瓶瓶罐罐，例：酒瓶、醬油、洗髮精等，在裝箱時請記得旋緊或套上塑膠袋，並在封箱後，記得在箱子上註明“底座朝下，請勿傾倒”。</li>
            <li>電器及資訊產品如有可拆式線材，需事先拆卸整理或裝箱，並把全部的遙控器或零配件共同裝箱，以便新居定位後找尋。</li>
            <li>易碎品、書籍、CD等較重物品，需用小紙箱裝箱，避免不易搬運。</li>
            <li>裝箱時以裝滿但勿過滿，應以能封蓋（箱）為原則。</li>
        </ul>
    </div>
</div>
