<div id="home">
    <h1 style="color: black; text-align: center;">卓越的搬家公司</h1>
    <a href="#" onclick="loadSection('services')" class="cta">Get A Free Estimate</a>
</div>
<div id="vision" class="content">
    <h2 style="text-align: center;">企業願景</h2>
    <p>「我們是一家製造快樂！創造幸福的公司」，懷著「歡喜顧客喜歡的事物」的心情，擘劃喜客喜生活物流服務系統，協助生活在變化快速、競爭激烈、忙碌緊湊環境下的現代家庭，做好居家物件管理、清潔、維護等工作，讓每個家庭成員，有更多的時間相聚，或騰出更多學習成長的時間，以豐富自己的人生。</p>
</div>
<div id="philosophy" class="content">
    <h2 style="text-align: center;">經營理念</h2>
    <p>喜客喜秉持誠摯的心、熱忱的情，歡喜的達成並超越顧客喜愛的事物。</p>
    <p>「專心」：專注於每一項服務作業的細節！<br>
       「貼心」：傾聽客戶聲音，從客戶需求出發！<br>
       「安心」：所有的作為就是要讓顧客安心！</p>
    <p>為了您的幸福而誕生，喜客喜生活物流At Your Service在此為您服務。</p>
    <p>「以人為本」：喜客喜以人為本，以客為尊；結合生活物流各領域中專業人才，形成一個幸福團隊。喜客喜擁有多年技術與經驗的優質人力，致力為您創造幸福生活。我們做的不只是搬運、打包、規劃、執行、宅配、安裝、或清潔的作業，更是成就一群快樂的人，創造滿滿幸福的家。</p>
    <p>「誠信正直」：這是喜客喜對您承諾的最基本要求，誠實、信用、正當的、耿直，是為了與您建立一輩子的信任關係。</p>
    <p>「專業紮實」：這個精挑細選的團隊，在喜客喜的訓練中心持續地操練與累積經驗，力求完美。在現今數位時代，我們充分運用科技資訊的力量來提昇我們的服務品質，所以創建了「喜客喜顧客導向的估價系統」。同時，喜客喜對您的用心，還展現在不斷地創新我們服務的內容、力求超越您的期望，甚至於您的想像力；就是要看到您臉上不經意流露一抹滿意的微笑。</p>
</div>
<div id="chairman" class="content">
    <h2 style="text-align: center;">董事長的話</h2>
    <p>多年來從事物流服務產業之推廣與經營，為企業導入物流系統，協助顧客降低物流成本，提升競爭力，獲得社會各界的肯定，蘇董事長也經常思考，在生活型態逐漸改變的今日，「生活是用來享受的，不應被家務所綑綁」物流機制能否導入家庭，協助家庭空出更多的時間與家人相處，或用來思考，沉澱自己，因此創立喜客喜，提出「生活物流新概念」，希望為國人「製造快樂，創造幸福」。</p>
</div>
<div id="story" class="content">
    <h2 style="text-align: center;">品牌故事</h2>
    <p>傳統「家庭遷徒」的思維顛覆與價值創新<br>
       開創藍海：提倡生活物流新概念，廣泛推動精緻搬家服務，徹底將物流具體融入生活當中，另闢藍海事業。</p>
    <p>喜客喜的英文品牌為「CICOCI」，代表了3個C與101。英文字CI是Customer Insight，成就顧客內心想望；CO是Customer Ownership，與顧客分享；第二個CI是Create Imagination創造想像力；101在台灣號稱世界第一高樓，象徵著卓越、標竿。</p>
</div>
<div id="concept" class="content">
    <h2 style="text-align: center;">生活物流新概念</h2>
    <p>為了製造您的快樂，創造您的幸福，由物流的角度出發，思考如何提升生活質感，改善生活空間與時間，從而發展出生活物流概念。透過企業經營理念的帶動、優質經營團隊的形成，再輔以整合性資訊系統，逐步構築涵蓋「搬遷、移動、收納、保管、清潔、採購」等全方位服務機能的生活物流服務體系，滿足您對居家生活的物流需求，讓您的生活愜意!幸福！快樂！</p>
</div>
