<div id="large_furniture">
    <h2 style="text-align: center;">大型家具廢棄物</h2>
    <div class="city">
        <h3>基隆市</h3>
        <p>仁愛區、暖暖區、七堵區大型廢棄物登記(一區隊) 2431-2589、2431-2590</p>
        <ul>
            <li>目前清運暫不收費</li>
            <li>限一般家庭用大型廢棄物。例如：木製移動式家具（獨立於房屋主體結構之外，可以移動者）、床墊、桌椅等。</li>
            <li>裝潢建材及可資源回收物請勿登記</li>
            <li>欲棄置大型廢棄物之民眾請先向轄區區隊電話預約並依其指定時間.地點排出</li>
        </ul>
        <p>中山區、安樂區、信義區、中正區、大型廢棄物登記(二區隊) 2466-6863、2466-9902</p>
        <ul>
            <li>目前清運暫不收費</li>
            <li>限一般家庭用大型廢棄物。例如：木製移動式家具（獨立於房屋主體結構之外，可以移動者）、床墊、桌椅等。</li>
            <li>裝潢建材及可資源回收物請勿登記</li>
            <li>欲棄置大型廢棄物之民眾，請先向轄區區隊電話預約並依其指定時間.地點排出</li>

    </div>
    <div class="city">
        <h3>台北市</h3>
        <p>大型廢棄物預約收運，請撥打本府1999市民熱線或各區清潔隊，電話詳下方府外單位聯絡資訊大型廢棄物詢問專線02-2728-7267 02-2720-8889 分機7266至7276</p>
        <ul>
            <li>萬華區清潔隊 02-2302-2988</li>
            <li>10854 臺北市萬華區環河南路二段102號5樓</li>
            <li>大同區清潔隊 02-2594-9904</li>
            <li>10363 臺北市大同區昌吉街57號4樓之7</li>
            <li>中山區清潔隊 02-2503-3447</li>
            <li>10402 臺北市中山區松江路367號7樓之2</li>
            <li>信義區清潔隊 02-2723-4982</li>
            <li>110台北市信義區福德街86號3樓</li>
            <li>大安區清潔隊 02-2737-1303</li>
            <li>10677 臺北市大安區通化街140巷19號</li>
            <li>松山區清潔隊 02-2514-7712</li>
            <li>10574 臺北市松山區民生東路四段133號4樓</li>
            <li>中正區清潔隊 02-2332-0725</li>
            <li>10076 臺北市中正區重慶南路三段6號</li>
            <li>內湖區清潔隊 02-2791-7730</li>
            <li>11467 臺北市內湖區成功路二段320巷19號4樓</li>   
            <li>文山區清潔隊 02-2936-3050</li>
            <li>11606 臺北市文山區木柵路三段220號7樓</li>
            <li>南港區清潔隊 02-2783-4725</li>
            <li>11579 臺北市南港區南港路一段360號7樓</li>
            <li>士林區清潔隊 02-2883-0962</li>
            <li>11163 臺北市士林區中正路439號7樓</li>
            <li>北投區清潔隊 02-2821-8867</li>
            <li>11267 臺北市北投區石牌路二段115號3樓</li>
        </ul>
    </div>
    <div class="city">
        <h3>新北市</h3>
        <p>板橋區</p>
        <ul>
            <li>清潔隊隊部電話 (02)8953-4369</li>
            <li>回收服務專線 (02)8966-8035</li>
            <li>巨大垃圾預約專線 (02)2259-1106</li>
            <li>隊部地址：板橋區實踐路3號</li>
        </ul>
        <p>土城區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2273-2020</li>
            <li>回收服務專線	(02)2268-9635</li>
            <li>巨大垃圾預約專線 (02)2268-3797、(02)2268-4977</li>
            <li>隊部地址：土城區金城路1段101號5樓</li>
        </ul>
        <p>樹林區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2687-4446</li>
            <li>回收服務專線	(02)2687-4446</li>
            <li>巨大垃圾預約專線	(02)2687-4446</li>
            <li>隊部地址：樹林區保安街一段7號5樓</li>
        </ul>
        <p>三重區</p>
        <ul>
            <li>清潔隊隊部電話	(02)8512-2225</li>
            <li>回收服務專線	(02)8512-2225</li>
            <li>巨大垃圾預約專線	(02)8512-2125</li>
            <li>隊部地址：三重區光復路2段127號</li>
        </ul>
        <p>蘆洲區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2285-9404</li>
            <li>回收服務專線	(02)8292-2001</li>
            <li>巨大垃圾預約專線	(02)8292-2001</li>
            <li>隊部地址：蘆洲區三民路95號6樓</li>
        </ul>
        <p>新莊區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2201-9811</li>
            <li>回收服務專線	(02)2201-9811</li>
            <li>巨大垃圾預約專線	(02)2201-9811</li>
            <li>隊部地址：新莊區瓊林路34號</li>
        </ul>
        <p>永和區</p>
        <ul>
            <li>清潔隊隊部電話	(02)3151-7728</li>
            <li>回收服務專線	(02)2924-1885</li>
            <li>巨大垃圾預約專線	(02)3151-7728</li>
            <li>隊部地址：永和區民權路60號6樓</li>
        </ul>
        <p>汐止區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2643-0403</li>
            <li>回收服務專線	(02)2643-0403</li>
            <li>巨大垃圾預約專線	(02)2643-0403</li>
            <li>隊部地址：汐止區新台五路一段268號7樓</li>
        </ul>
        <p>中和區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2248-0889</li>
            <li>回收服務專線	(02)3234-5959</li>
            <li>巨大垃圾預約專線	(02)2248-0889</li>
            <li>隊部地址：中和區景平路634-2號5樓</li>
        </ul>
        <p>新店區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2912-4995</li>
            <li>回收服務專線	(02)2214-2829</li>
            <li>巨大垃圾預約專線	(02)2211-7860</li>
            <li>隊部地址：新店區民族路110號4樓(大豐社福館)</li>
        </ul>
        <p>鶯歌區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2678-0217</li>
            <li>回收服務專線	(02)2678-0217</li>
            <li>巨大垃圾預約專線	(02)2678-0217</li>
            <li>隊部地址：鶯歌區北鶯里仁愛路55號4樓</li>
        </ul>
        <p>淡水區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2628-2616</li>
            <li>回收服務專線	(02)2628-2616</li>
            <li>巨大垃圾預約專線	(02)2628-2616</li>
            <li>隊部地址：淡水區中山北路二段375號6樓</li>
        </ul>
        <p>三峽區</p>
        <ul>
            <li>清潔隊隊部電話	(02)2672-2143</li>
            <li>回收服務專線	(02)2672-2143</li>
            <li>巨大垃圾預約專線	(02)2672-2143</li>
            <li>隊部地址：三峽區隆恩街243號</li>
        </ul>
        <p>瑞芳區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2497-5496</li>
            <li>回收服務專線 (02)2497-5611</li>
            <li>巨大垃圾預約專線 (02)2497-5611</li>
            <li>隊部地址：瑞芳區明燈路3段2號2樓</li>
        </ul>

        <p>五股區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2291-6051</li>
            <li>回收服務專線 (02)2291-0304</li>
            <li>巨大垃圾預約專線 (02)2987-0476 / (02)2291-0304</li>
            <li>隊部地址：五股區中興路4段50號6、7樓</li>
        </ul>

        <p>林口區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2603-3111</li>
            <li>回收服務專線 (02)2601-6711</li>
            <li>巨大垃圾預約專線 (02)2601-6711</li>
            <li>隊部地址：林口區仁愛路一段378號3樓</li>
        </ul>

        <p>泰山區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2297-7508</li>
            <li>回收服務專線 (02)2297-7508</li>
            <li>巨大垃圾預約專線 (02)2297-7508</li>
            <li>隊部地址：泰山區公園路52號3樓</li>
        </ul>

        <p>八里區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2610-6070</li>
            <li>回收服務專線 (02)2610-4569</li>
            <li>巨大垃圾預約專線 (02)2610-4569</li>
            <li>隊部地址：八里區八里大道20號</li>
        </ul>

        <p>三芝區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2636-8160</li>
            <li>回收服務專線 (02)2636-8160</li>
            <li>巨大垃圾預約專線 (02)2636-8160</li>
            <li>隊部地址：三芝區育英街5號</li>
        </ul>

        <p>金山區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2408-2523</li>
            <li>回收服務專線 (02)2408-2523</li>
            <li>巨大垃圾預約專線 (02)2408-2523</li>
            <li>隊部地址：金山區民生路61號</li>
        </ul>

        <p>石門區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2638-2522</li>
            <li>回收服務專線 (02)2638-2522</li>
            <li>巨大垃圾預約專線 (02)2638-2522</li>
            <li>隊部地址：石門區中山路66號</li>
        </ul>

        <p>坪林區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2665-6203</li>
            <li>回收服務專線 (02)2665-7249</li>
            <li>巨大垃圾預約專線 (02)2665-7249</li>
            <li>隊部地址：坪林區坪林街101號3樓</li>
        </ul>

        <p>石碇區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2663-3876</li>
            <li>回收服務專線 (02)2663-3876</li>
            <li>巨大垃圾預約專線 (02)2663-3876</li>
            <li>隊部地址：石碇區碇坪路1段39號</li>
        </ul>

        <p>深坑區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2664-4090</li>
            <li>回收服務專線 (02)2664-4090</li>
            <li>巨大垃圾預約專線 (02)2664-4090</li>
            <li>隊部地址：深坑區深南路51-1號</li>
        </ul>

        <p>平溪區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2495-1510</li>
            <li>回收服務專線 (02)2495-1751</li>
            <li>巨大垃圾預約專線 (02)2495-1751</li>
            <li>隊部地址：平溪區平溪里平溪街46號</li>
        </ul>

        <p>雙溪區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2493-1111</li>
            <li>回收服務專線 (02)2493-1111</li>
            <li>巨大垃圾預約專線 (02)2493-1111</li>
            <li>隊部地址：雙溪區共和里東榮街25號(雙溪區公所)</li>
        </ul>

        <p>貢寮區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2494-2221</li>
            <li>回收服務專線 (02)2494-2221</li>
            <li>巨大垃圾預約專線 (02)2494-2221</li>
            <li>隊部地址：新北市貢寮區長泰路20之2號</li>
        </ul>

        <p>萬里區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2492-1774</li>
            <li>回收服務專線 (02)2492-1774</li>
            <li>巨大垃圾預約專線 (02)2492-1774</li>
            <li>隊部地址：萬里區瑪鋉路123號B2</li>
        </ul>

        <p>烏來區</p>
        <ul>
            <li>清潔隊隊部電話 (02)2661-6282</li>
            <li>回收服務專線 (02)2661-7586</li>
            <li>巨大垃圾預約專線 (02)2661-7586</li>
            <li>隊部地址：烏來區啦卡路70號</li>
        </ul>

    </div>

    <div class="city">
    <h3>桃園市</h3>
    <p>桃園市政府各區巨大廢棄物申請窗口一覽表</p>
    <ul>
        <li>桃園區
            <ul>
                <li>連絡電話/窗口：03-3027566</li>
                <li>區隊地址：桃園區永佳街88號</li>
            </ul>
        </li>
        <li>中壢區
            <ul>
                <li>連絡電話/窗口：03-4379628</li>
                <li>區隊地址：中壢區華美一路90號</li>
            </ul>
        </li>
        <li>平鎮區
            <ul>
                <li>連絡電話/窗口：03-4573264</li>
                <li>區隊地址：平鎮區中豐路183號</li>
            </ul>
        </li>
        <li>八德區
            <ul>
                <li>連絡電話/窗口：03-3632415</li>
                <li>區隊地址：八德區興豐路2208號</li>
            </ul>
        </li>
        <li>楊梅區
            <ul>
                <li>連絡電話/窗口：03-4853304</li>
                <li>區隊地址：楊梅區大成路2號4樓</li>
            </ul>
        </li>
        <li>蘆竹區
            <ul>
                <li>連絡電話/窗口：03-3526354</li>
                <li>區隊地址：蘆竹區南崁路152-2號2樓</li>
            </ul>
        </li>
        <li>龜山區
            <ul>
                <li>連絡電話/窗口：03-3503877</li>
                <li>區隊地址：龜山區中山街26號</li>
            </ul>
        </li>
        <li>龍潭區
            <ul>
                <li>連絡電話/窗口：03-4796726</li>
                <li>區隊地址：龍潭區大順路565號</li>
            </ul>
        </li>
        <li>大溪區
            <ul>
                <li>連絡電話/窗口：03-3884988</li>
                <li>區隊地址：大溪區普濟路15號2樓</li>
            </ul>
        </li>
        <li>觀音區
            <ul>
                <li>連絡電話/窗口：03-4734873</li>
                <li>區隊地址：觀音區中興路360-1號</li>
            </ul>
        </li>
        <li>大園區
            <ul>
                <li>連絡電話/窗口：03-3866360</li>
                <li>區隊地址：大園區中正西路12號</li>
            </ul>
        </li>
        <li>新屋區
            <ul>
                <li>連絡電話/窗口：03-4861197</li>
                <li>區隊地址：新屋區下埔里東興路2段870巷3號</li>
            </ul>
        </li>
        <li>復興區
            <ul>
                <li>連絡電話/窗口：03-3821371</li>
                <li>區隊地址：復興區澤仁里中正路136之2號</li>
            </ul>
        </li>
    </ul>
</div>
<div class="city">
        <h3>新竹市</h3>
    <p>新竹市環境保護局</p>
    <ul>
        <li>連絡電話：03-5388406</li>
    </ul>

    <h3>新竹縣</h3>
    <ul>
        <li>竹北市清潔隊
            <ul>
                <li>連絡電話：03-5504205</li>
            </ul>
        </li>
        <li>關西鎮清潔隊
            <ul>
                <li>連絡電話：03-5873180</li>
            </ul>
        </li>
        <li>新埔鎮清潔隊
            <ul>
                <li>連絡電話：03-5881311</li>
            </ul>
        </li>
        <li>竹東鎮清潔隊
            <ul>
                <li>連絡電話：03-5966329</li>
            </ul>
        </li>
        <li>湖口鄉清潔隊
            <ul>
                <li>連絡電話：03-5983305</li>
            </ul>
        </li>
        <li>新豐鄉清潔隊
            <ul>
                <li>連絡電話：03-5591116</li>
            </ul>
        </li>
        <li>芎林鄉清潔隊
            <ul>
                <li>連絡電話：03-5921135</li>
            </ul>
        </li>
        <li>寶山鄉清潔隊
            <ul>
                <li>連絡電話：03-5201524</li>
            </ul>
        </li>
        <li>橫山鄉清潔隊
            <ul>
                <li>連絡電話：03-5931441</li>
            </ul>
        </li>
        <li>峨眉鄉清潔隊
            <ul>
                <li>連絡電話：03-5800279</li>
            </ul>
        </li>
        <li>北埔鄉清潔隊
            <ul>
                <li>連絡電話：03-5802204</li>
            </ul>
        </li>
        <li>尖石鄉清潔隊
            <ul>
                <li>連絡電話：03-5841001</li>
            </ul>
        </li>
        <li>五峰鄉清潔隊
            <ul>
                <li>連絡電話：03-5851001</li>
            </ul>
        </li>
    </ul>


</div>
