<div id="services">
    <h2 style="text-align: center;">服務項目</h2>
    <div class="service-item">
        <h3>居家精緻搬遷</h3>
        <p>哪種類型的搬家適合我呢？？？🤔<br>為您介紹日系精緻搬遷服務<br>（喜客喜與日本專業搬家公司ART株式會社合作，提供技術指導！）</p>
        <ul>
            <li>就是細節、細節、細節，每一個過程完整呵護、讓您安心！</li>
            <li>提供多樣服務，依您的預算，為您量身訂作，處處展現貼心！</li>
        </ul>
        <p>🔸經濟考量型：為您的荷包精打細算，依樣讓您滿意！<br>🔸精緻貼心型：也許多花一些小錢，卻讓您得到更多的驚喜！<br>🔸全程輕鬆型：您只要發號施令、從頭到尾，喜客喜一首為您搞定！</p>
    </div>
    <div class="service-item">
        <h3>企業搬遷特助</h3>
        <p>企業搬遷是件複雜又頭痛的艱困任務，無論是文件資料收納、資訊設備，還是事務機器的包裝與搬運，都是相當艱深的專案管理工作。喜客喜有提供辦公室搬遷特助來協助所有企業搬遷的建議及規劃，且費用亦隨著每個企業的需求來量身訂做。</p>
        <p>企業與居家遷移是完全不同的，不論在規劃作業、整理裝箱、定位或是搬遷動線，都具有相當大的差異性。如果公司規模較大，整個搬運過程可能需數百輛車，而規模較小者則也需幾十輛車，所以搬遷前的事前規劃，即為整個搬遷專案的大核心。</p>
        <p>服務內容方面除了加強資訊事務設備包裝及拆裝之外，資料文件、藝術品及易碎品包裝收納服務亦有提供，服務人員訓練方面更是特別要求品德與客戶應對禮儀，其目的是要讓客戶能由衷享受到優質的貴賓級服務。</p>
    </div>
    <div class="service-item">
        <h3>家財保管</h3>
        <p>喜客喜生活物流家財保管服務，成為您靈活運用的家庭倉庫！現今無論是新舊居裝潢或是新成屋未能預期交屋，多數人皆相當煩惱在此短時間內，該如何尋覓空間將其傢俱及家電作暫時擺放，而通常多數房東不願提供短時間承租、傢俱置於公共空間又唯恐遺失或損壞，如前述這類的問題於現今社會層出不窮。</p>
        <ul>
            <li>針對客戶需暫時存儲之物品，依客戶需求來規劃與提供一個高規格且隱密的專屬倉儲空間。</li>
            <li>依客戶需求來提供客製化的妥善包裝作業，確保物品長時間存放的品質與安全。</li>
            <li>與客戶簽立合約 以善盡保管義務以確保雙方權益。</li>
            <li>倉管人員會先依寄倉物件入庫單謹慎清點，再進行入倉作業。</li>
            <li>日後僅需一通電話，我們即根據客戶需求與寄倉合約於指定時間將寄存物品運輸至客戶指定地點。</li>
        </ul>
    </div>
    <div class="service-item">
        <h3>搬運人力協助服務</h3>
        <p>除了運用車輛搬遷外，喜客喜生活物流還貼心提供專業的搬運人力協助。</p>
        <h4>居家人力協助</h4>
        <p>有時您會需要可信任且強而有力的助手，來幫您排除一些平日無法或沒時間搬動或是家中較重的汰換物品，我們都能協助重新調整及搬運下樓丟棄喔！</p>
        <h4>辦公室人力協助</h4>
        <p>我們了解許多的企業因應規模的擴大，需要做企業內部空間的重新調整。我們累積了完善且迅速的搬遷經驗，所以可更有效率地幫您做好辦公物件的定位與搬動，讓您的企業能夠用最短的時間來調整到最佳的工作狀態，進而將每個部門因位置變動所造成之影響減至最低。</p>
    </div>
    <div class="service-item">
        <h3>居家收納</h3>
        <p>從舊家打包到新居歸位幫你一次搞定</p>
        <p>目前提供此精緻類搬家服務的公司並不多、可事先來電詢問喜客喜客服。本服務著重在所有物品的收納包裝及拆箱定位，如衣櫃內衣物、書房裡的書籍、廚房易碎物品和藝術收藏品等，都會安排專業人員協助您處理。因包裝花費時間較長，通常會先安排人員進行收納及傢俱家電包裝工作，搬遷工作日會進行2~3天，完全協助您搬家所有大小事。</p>
    </div>
</div>
